
Results/.DS_Store
Results/01.Processing/.DS_Store
Results/01.Processing/MULTIQC_VIZ_DIR/C1242_S0.html
Results/01.Processing/MULTIQC_VIZ_DIR/C1242_S0_fastp.json
Results/01.Processing/MULTIQC_VIZ_DIR/C1904_S42.html
Results/01.Processing/MULTIQC_VIZ_DIR/C1904_S42_fastp.json
Results/01.Processing/MULTIQC_VIZ_DIR/C2408_S38.html
Results/01.Processing/MULTIQC_VIZ_DIR/C2408_S38_fastp.json
Results/01.Processing/MULTIQC_VIZ_DIR/C2409_S36.html
Results/01.Processing/MULTIQC_VIZ_DIR/C2409_S36_fastp.json
Results/01.Processing/MULTIQC_VIZ_DIR/C2882_S0.html
Results/01.Processing/MULTIQC_VIZ_DIR/C2882_S0_fastp.json
Results/01.Processing/MULTIQC_VIZ_DIR/C3005_S40.html
Results/01.Processing/MULTIQC_VIZ_DIR/C3005_S40_fastp.json
Results/01.Processing/MULTIQC_VIZ_DIR/C3140_S41.html
Results/01.Processing/MULTIQC_VIZ_DIR/C3140_S41_fastp.json
Results/01.Processing/MULTIQC_VIZ_DIR/C3793_S37.html
Results/01.Processing/MULTIQC_VIZ_DIR/C3793_S37_fastp.json
Results/01.Processing/MULTIQC_VIZ_DIR/C4244_S34.html
Results/01.Processing/MULTIQC_VIZ_DIR/C4244_S34_fastp.json
Results/01.Processing/MULTIQC_VIZ_DIR/C5423_S43.html
Results/01.Processing/MULTIQC_VIZ_DIR/C5423_S43_fastp.json
Results/01.Processing/MULTIQC_VIZ_DIR/C686_S39.html
Results/01.Processing/MULTIQC_VIZ_DIR/C686_S39_fastp.json
Results/01.Processing/MULTIQC_VIZ_DIR/C921_S35.html
Results/01.Processing/MULTIQC_VIZ_DIR/C921_S35_fastp.json
Results/01.Processing/MULTIQC_VIZ_DIR/multiqc_data/multiqc.log
Results/01.Processing/MULTIQC_VIZ_DIR/multiqc_data/multiqc_citations.txt
Results/01.Processing/MULTIQC_VIZ_DIR/multiqc_data/multiqc_data.json
Results/01.Processing/MULTIQC_VIZ_DIR/multiqc_data/multiqc_fastp.txt
Results/01.Processing/MULTIQC_VIZ_DIR/multiqc_data/multiqc_general_stats.txt
Results/01.Processing/MULTIQC_VIZ_DIR/multiqc_data/multiqc_sources.txt
Results/01.Processing/MULTIQC_VIZ_DIR/multiqc_report.html
Results/01.Processing/MULTIQC_VIZ_DIR/P1038_S0.html
Results/01.Processing/MULTIQC_VIZ_DIR/P1038_S0_fastp.json
Results/01.Processing/MULTIQC_VIZ_DIR/P1082_S60.html
Results/01.Processing/MULTIQC_VIZ_DIR/P1082_S60_fastp.json
Results/01.Processing/MULTIQC_VIZ_DIR/P1151_S61.html
Results/01.Processing/MULTIQC_VIZ_DIR/P1151_S61_fastp.json
Results/01.Processing/MULTIQC_VIZ_DIR/P1152_S0.html
Results/01.Processing/MULTIQC_VIZ_DIR/P1152_S0_fastp.json
Results/01.Processing/MULTIQC_VIZ_DIR/P1277_S62.html
Results/01.Processing/MULTIQC_VIZ_DIR/P1277_S62_fastp.json
Results/01.Processing/MULTIQC_VIZ_DIR/P1283_S30.html
Results/01.Processing/MULTIQC_VIZ_DIR/P1283_S30_fastp.json
Results/01.Processing/MULTIQC_VIZ_DIR/P133_S44.html
Results/01.Processing/MULTIQC_VIZ_DIR/P133_S44_fastp.json
Results/01.Processing/MULTIQC_VIZ_DIR/P1375_S31.html
Results/01.Processing/MULTIQC_VIZ_DIR/P1375_S31_fastp.json
Results/01.Processing/MULTIQC_VIZ_DIR/P153_S0.html
Results/01.Processing/MULTIQC_VIZ_DIR/P153_S0_fastp.json
Results/01.Processing/MULTIQC_VIZ_DIR/P1570_S0.html
Results/01.Processing/MULTIQC_VIZ_DIR/P1570_S0_fastp.json
Results/01.Processing/MULTIQC_VIZ_DIR/P157_S46.html
Results/01.Processing/MULTIQC_VIZ_DIR/P157_S46_fastp.json
Results/01.Processing/MULTIQC_VIZ_DIR/P1651_S0.html
Results/01.Processing/MULTIQC_VIZ_DIR/P1651_S0_fastp.json
Results/01.Processing/MULTIQC_VIZ_DIR/P1665_S0.html
Results/01.Processing/MULTIQC_VIZ_DIR/P1665_S0_fastp.json
Results/01.Processing/MULTIQC_VIZ_DIR/P1667_S0.html
Results/01.Processing/MULTIQC_VIZ_DIR/P1667_S0_fastp.json
Results/01.Processing/MULTIQC_VIZ_DIR/P1721_S0.html
Results/01.Processing/MULTIQC_VIZ_DIR/P1721_S0_fastp.json
Results/01.Processing/MULTIQC_VIZ_DIR/P1821_S0.html
Results/01.Processing/MULTIQC_VIZ_DIR/P1821_S0_fastp.json
Results/01.Processing/MULTIQC_VIZ_DIR/P1863_S48.html
Results/01.Processing/MULTIQC_VIZ_DIR/P1863_S48_fastp.json
Results/01.Processing/MULTIQC_VIZ_DIR/P2020_S49.html
Results/01.Processing/MULTIQC_VIZ_DIR/P2020_S49_fastp.json
Results/01.Processing/MULTIQC_VIZ_DIR/P2021_S64.html
Results/01.Processing/MULTIQC_VIZ_DIR/P2021_S64_fastp.json
Results/01.Processing/MULTIQC_VIZ_DIR/P2031_S50.html
Results/01.Processing/MULTIQC_VIZ_DIR/P2031_S50_fastp.json
Results/01.Processing/MULTIQC_VIZ_DIR/P2055_S33.html
Results/01.Processing/MULTIQC_VIZ_DIR/P2055_S33_fastp.json
Results/01.Processing/MULTIQC_VIZ_DIR/P2120_S0.html
Results/01.Processing/MULTIQC_VIZ_DIR/P2120_S0_fastp.json
Results/01.Processing/MULTIQC_VIZ_DIR/P2160_S65.html
Results/01.Processing/MULTIQC_VIZ_DIR/P2160_S65_fastp.json
Results/01.Processing/MULTIQC_VIZ_DIR/P2199_S51.html
Results/01.Processing/MULTIQC_VIZ_DIR/P2199_S51_fastp.json
Results/01.Processing/MULTIQC_VIZ_DIR/P2373_S29.html
Results/01.Processing/MULTIQC_VIZ_DIR/P2373_S29_fastp.json
Results/01.Processing/MULTIQC_VIZ_DIR/P2483_S0.html
Results/01.Processing/MULTIQC_VIZ_DIR/P2483_S0_fastp.json
Results/01.Processing/MULTIQC_VIZ_DIR/P2715_S66.html
Results/01.Processing/MULTIQC_VIZ_DIR/P2715_S66_fastp.json
Results/01.Processing/MULTIQC_VIZ_DIR/P2772_S67.html
Results/01.Processing/MULTIQC_VIZ_DIR/P2772_S67_fastp.json
Results/01.Processing/MULTIQC_VIZ_DIR/P2871_S0.html
Results/01.Processing/MULTIQC_VIZ_DIR/P2871_S0_fastp.json
Results/01.Processing/MULTIQC_VIZ_DIR/P2969_S68.html
Results/01.Processing/MULTIQC_VIZ_DIR/P2969_S68_fastp.json
Results/01.Processing/MULTIQC_VIZ_DIR/P3148_S0.html
Results/01.Processing/MULTIQC_VIZ_DIR/P3148_S0_fastp.json
Results/01.Processing/MULTIQC_VIZ_DIR/P3357_S52.html
Results/01.Processing/MULTIQC_VIZ_DIR/P3357_S52_fastp.json
Results/01.Processing/MULTIQC_VIZ_DIR/P3664_S0.html
Results/01.Processing/MULTIQC_VIZ_DIR/P3664_S0_fastp.json
Results/01.Processing/MULTIQC_VIZ_DIR/P4062_S54.html
Results/01.Processing/MULTIQC_VIZ_DIR/P4062_S54_fastp.json
Results/01.Processing/MULTIQC_VIZ_DIR/P4109_S69.html
Results/01.Processing/MULTIQC_VIZ_DIR/P4109_S69_fastp.json
Results/01.Processing/MULTIQC_VIZ_DIR/P442_S47.html
Results/01.Processing/MULTIQC_VIZ_DIR/P442_S47_fastp.json
Results/01.Processing/MULTIQC_VIZ_DIR/P4576_S0.html
Results/01.Processing/MULTIQC_VIZ_DIR/P4576_S0_fastp.json
Results/01.Processing/MULTIQC_VIZ_DIR/P4748_S56.html
Results/01.Processing/MULTIQC_VIZ_DIR/P4748_S56_fastp.json
Results/01.Processing/MULTIQC_VIZ_DIR/P4783_S70.html
Results/01.Processing/MULTIQC_VIZ_DIR/P4783_S70_fastp.json
Results/01.Processing/MULTIQC_VIZ_DIR/P4981_S71.html
Results/01.Processing/MULTIQC_VIZ_DIR/P4981_S71_fastp.json
Results/01.Processing/MULTIQC_VIZ_DIR/P4989_S72.html
Results/01.Processing/MULTIQC_VIZ_DIR/P4989_S72_fastp.json
Results/01.Processing/MULTIQC_VIZ_DIR/P5315_S0.html
Results/01.Processing/MULTIQC_VIZ_DIR/P5315_S0_fastp.json
Results/01.Processing/MULTIQC_VIZ_DIR/P5338_S57.html
Results/01.Processing/MULTIQC_VIZ_DIR/P5338_S57_fastp.json
Results/01.Processing/MULTIQC_VIZ_DIR/P842_S59.html
Results/01.Processing/MULTIQC_VIZ_DIR/P842_S59_fastp.json
Results/01.Processing/MULTIQC_VIZ_DIR/PP3276_S32.html
Results/01.Processing/MULTIQC_VIZ_DIR/PP3276_S32_fastp.json
Results/multiqc_report_1.html
Results/MULTIQC_VIZ_DIR/multiqc_data/gatk_base_recalibrator.txt
Results/MULTIQC_VIZ_DIR/multiqc_data/multiqc.log
Results/MULTIQC_VIZ_DIR/multiqc_data/multiqc_citations.txt
Results/MULTIQC_VIZ_DIR/multiqc_data/multiqc_data.json
Results/MULTIQC_VIZ_DIR/multiqc_data/multiqc_general_stats.txt
Results/MULTIQC_VIZ_DIR/multiqc_data/multiqc_picard_dups.txt
Results/MULTIQC_VIZ_DIR/multiqc_data/multiqc_sources.txt
Results/MULTIQC_VIZ_DIR/multiqc_data/picard_histogram.txt
Results/MULTIQC_VIZ_DIR/multiqc_data/picard_histogram_1.txt
Results/MULTIQC_VIZ_DIR/multiqc_data/picard_histogram_2.txt
Results/MULTIQC_VIZ_DIR/multiqc_report.html
